<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/Appium/Android_app_automations/APIDemos/src/test/java/Test_Cases">
        <classes>
            <class name="Test_Cases.TC_Accesibility">
                <methods>
                    <include name="Sanity_Accessibility"/>
                </methods>
            </class>
            <class name="Test_Cases.TC_Animation">
                <methods>
                    <include name="TC_Sanity_Animation"/>
                </methods>
            </class>
            <class name="Test_Cases.TC_App">
                <methods>
                    <include name="TC_Sanity_App"/>
                    <include name="TC_ActionBar"/>
                    <exclude name="TC_Activity"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>