<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/Appium/Android_app_automations/APIDemos/src/test/java/Test_Cases">
        <classes>
            <class name="Test_Cases.TC_ComplexCases"></class>
            <!--<class name="Test_Cases.TC_App"></class>
            <class name="Test_Cases.TC_Content"></class> -->
        </classes>
    </test>

    <listeners>
        <listener class-name="listeners.TestListener"></listener>
    </listeners>
</suite>